.my-card {
  height: 190px;
  width: 190px;
  border-radius: 8px;
  border: 1px;
  border-color: black;
  box-shadow: none;
  outline: 1px;
  border-style: solid;

  font-size: 8px;
  font-family: "Source Sans Pro", sans-serif;
}

.dashboard {
  height: 100%;
  background-color: white;
  border-radius: 10px;
  height: 100vh;
}

.dashboardtxt {
  margin: 20px;
  margin-top: 2%;
  color: #249990;
  padding-top: 3%;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

.test {
  background-color: #f2f2f2; /* Set the background color you want */
  height: 100%; /* Set the height as needed */
}
.menu {
  background-color: white;
  height: 100vh;
  border-radius: 10px;
}

.menu-header {
  font-size: 24px;
  font-weight: bold;
  padding-top: 10%;
  padding-left: 5%;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 10%;
}
