.searchbar {
  width: 580px;
  height: 40px;
  margin: 2%;
}

#search-form {
  position: relative;
}

#search-icon {
  position: absolute;
  left: 26px; /* Adjust the left positioning as needed */
  top: 50%;

  transform: translateY(-50%);
}

#search_input {
  padding: 10px;
  border-width: 1px;
  margin: 2%;
  padding-left: 30px; /* Adjust the padding-left to accommodate the icon */
  width: 480px; /* Adjust the width to accommodate the icon */
  height: 38px;
  text-align: start;
  font-size: 16px;
}

.employeetxt {
  margin: 20px;
  margin-top: 0%;
  color: #249990;
  padding-top: 3%;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

.icons {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-right: 5%;
  right: 0;
  position: absolute;
}
.circleicon {
  margin-left: 50%;
}
.notificon {
  margin-top: 10%;
}

.header1 {
  display: flex;
  flex-direction: row;
}

.header2 {
  display: flex;
  flex-direction: row;
}

.downloadbtn {
  height: 20px;
  font-size: x-small;
  right: 0;
  width: 128px;
  margin-right: 240px;
  margin-top: 28px;
  position: absolute;
  border-radius: 50px;
}
.q-field__marginal {
  height: 28px;
  font-size: 16px;
  width: 184;
  right: 0;
  position: absolute;
}

.inputbox {
  right: 0;
  position: absolute;
  margin-top: 28px;
  margin-right: 40px;
}

.menu {
  background-color: white;
  height: 100vh;
  border-radius: 10px;
}

.q-field__control {
  height: 28px; /* Adjust the height of the input area */
}

.employeelist {
  background-color: #f2f2f2; /* Set the background color you want */
  height: 100%; /* Set the height as needed */
}

.employeebody {
  background-color: white;
  height: 100vh;
  border-radius: 10px;
  margin-top: 14px;
}
.custon-btn {
  .q-btn__content {
    color: black; // Set font color
    text-align: left !important;
    padding-right: 10px;
  }

  .q-list .q-item-label {
    color: black; // Set font color
  }

  .q-btn__content {
    min-width: 20px; // Set width
    min-height: 10px; // Set height
  }

  // If you want to set the width and height for the list items
  .q-list .q-item-label {
    text-align: center;
    min-width: 20px; // Set width for the list items
    min-height: 10px; // Set height for the list items
  }
}
.q-btn-dropdown {
  text-align: left;
  box-shadow: none;
  border-width: 1px; /* Set your desired border width */
  border-style: solid; /* Set the border style */
  border-color: #000;
}

.filters {
  margin: 5px;
  padding-top: 2%;
  padding-left: 2%;
}

.datebtn {
  padding-top: 14px;

  .q-field__control {
    height: 40px; /* Adjust the height of the input area */
    width: 150px;
  }
  .q-field__marginal {
    height: 40px;
    font-size: 16px;
    width: 184;
    right: 0;
    position: absolute;
  }
}

.employeetbl {
  .q-table {
    thead {
      th {
        font-weight: bold;
        height: 56px;
        // Other styling for table header cells
      }
    }
    tbody {
      .q-tr {
        .q-td:last-child {
          /* Set the width for the last column */
          max-width: 50px; /* Adjust the width as needed */
        }
        .q-td {
          font-size: x-small;
        }
      }
    }
    tr {
      &:nth-child(odd) {
        background-color: #ffffff;
      }

      &:nth-child(even) {
        background-color: #ebebeb;
      }

      td {
        // Styles for table cells
        height: 48px;
        font-size: 16px;
      }
    }
  }

  box-shadow: none;
  margin-left: 2%;
  width: 95%;
}

.kebab-menu {
  width: auto; // or set a fixed width
  max-height: 200px; // set a maximum height
  overflow-y: auto; // enable vertical scrolling if needed
}
.listdropdown {
  position: inherit;
  margin-right: 10%;
}
.menudropdown {
  width: 120px;
  max-height: 20px;
}
