.formlist {
  background-color: #f2f2f2; /* Set the background color you want */
  height: 100%; /* Set the height as needed */
}
.form {
  background-color: white;
  height: 150vh;
  border-radius: 10px;
  margin-top: 14px;
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 35px;
  margin-left: 2%;
}
.stafftxt {
  font-size: 24px;
  padding-bottom: 2%;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  color: #249990;
}
.arrowbtn {
  padding-top: 5px;
  padding-right: 10px;
}

.q_inputs {
  width: 456px;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  border-color: #249990;

  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 14px;
  .q-field__control {
    height: 48px; /* Adjust the height of the input area */
  }
}

.menutbl {
  background-color: white;
  height: 150vh;
  border-radius: 10px;
}

.searchbar {
  width: 580px;
  height: 40px;
  margin: 2%;
}

#search-form {
  position: relative;
}

#search-icon {
  position: absolute;
  left: 26px; /* Adjust the left positioning as needed */
  top: 50%;

  transform: translateY(-50%);
}

#search_input {
  padding: 10px;
  border-width: 1px;
  margin: 2%;
  padding-left: 30px; /* Adjust the padding-left to accommodate the icon */
  width: 480px; /* Adjust the width to accommodate the icon */
  height: 38px;
  text-align: start;
  font-size: 16px;
}

.icons {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-right: 5%;
  right: 0;
  position: absolute;
}
.circleicon {
  margin-left: 50%;
}
.notificon {
  margin-top: 10%;
}

.multilinetxt {
  .q-field__control {
    height: 168px; /* Adjust the height of the input area */
  }
}
