.drawer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diamond-icon-container {
  margin-top: 20%;
}

.lower-icon-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
}
