<template>
  <div class="page-container">
    <q-layout view="xs lHh Lpr lFf">
      <q-drawer
        v-model="leftDrawerOpen"
        show-if-above
        bordered
        width="80"
        height="1040px"
        class="drawer-container"
      >
        <div class="diamond-icon-container">
          <q-icon name="diamond" class="diamond-icon" size="40px" />
        </div>
        <div class="lower-icon-container">
          <q-icon name="home" class="home-icons" size="40px" />
          <q-icon name="menu" class="menu-icon" size="40px" />
          <q-item-label header> Menu </q-item-label>
        </div>
      </q-drawer>
      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "MainLayout",
});
</script>

<style lang="scss">
@import "../pages/FrontendExercise/styles/MainLayout.scss";
</style>
