<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="test">
      <div class="q-pa-md example-row-column-width">
        <div class="row">
          <div class="col-3">
            <div class="q-pa-md">
              <div class="menu">
                <q-item-label class="menu-header"> Menu</q-item-label>
                <q-list>
                  <EssentialLink
                    v-for="link in essentialLinks"
                    :key="link.title"
                    v-bind="link"
                  />
                </q-list>
              </div>
            </div>
          </div>
          <div class="col-9">
            <div class="dashboard">
              <H4 class="dashboardtxt">Dashboard</H4>
              <div class="q-pa-md example-row-equal-width">
                <div class="row justify-evenly">
                  <div class="col-3">
                    <q-card class="my-card">
                      <q-card-section>
                        <div class="text-h6">Card 1</div>
                        Description
                      </q-card-section>
                    </q-card>
                  </div>
                  <div class="col-3">
                    <q-card class="my-card">
                      <q-card-section>
                        <div class="text-h6">Card 2</div>
                        Description
                      </q-card-section>
                    </q-card>
                  </div>
                  <div class="col-3">
                    <q-card class="my-card">
                      <q-card-section>
                        <div class="text-h6">Card 3</div>
                        Description
                      </q-card-section>
                    </q-card>
                  </div>
                  <div class="col-3">
                    <q-card class="my-card">
                      <q-card-section>
                        <div class="text-h6">Card 4</div>
                        Description
                      </q-card-section>
                    </q-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script src="./scripts/Dashboard.js"></script>

<style lang="scss" scope>
@import "./styles/Dashboard.scss";
</style>
