<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="employeelist">
      <div class="q-pa-md example-row-column-width">
        <div class="row">
          <div class="col-8">
            <div class="topbar">
              <form action="search_filter" id="search-form">
                <q-icon name="search" id="search-icon" />
                <input
                  type="text"
                  placeholder="Search Filter . . ."
                  id="search_input"
                />
              </form>
            </div>
          </div>
          <div class="col-3">
            <div class="icons">
              <q-icon name="notifications" size="25px" class="notificon" />
              <q-icon name="circle" size="40px" class="circleicon" />
            </div>
          </div>
        </div>
      </div>

      <div class="q-pa-md example-row-column-width">
        <div class="row">
          <div class="col-3">
            <div class="q-pa-md">
              <div class="menu">
                <q-item-label header> Menu</q-item-label>
                <q-list>
                  <EssentialLink
                    v-for="link in essentialLinks"
                    :key="link.title"
                    v-bind="link"
                  />
                </q-list>
              </div>
            </div>
          </div>
          <div class="col-9">
            <div class="employeebody">
              <div class="headers">
                <div class="header1">
                  <H5 class="employeetxt">Employee List</H5>
                  <q-btn
                    color="secondary"
                    label="Add Employee"
                    class="downloadbtn"
                    @click="navigateToForm"
                  />
                  <q-input
                    outlined
                    v-model="text"
                    :dense="dense"
                    class="inputbox"
                    placeholder="Search"
                    rounded
                  >
                    <template v-slot:prepend>
                      <q-icon name="search" />
                    </template>
                  </q-input>
                </div>
                <div class="header2">
                  <p class="filters">Filters:</p>
                  <div class="q-pa-md">
                    <q-btn-dropdown
                      class="custon-btn"
                      split
                      color="white"
                      rounded
                      label="All"
                    >
                      <q-list>
                        <q-item clickable v-close-popup>
                          <q-item-section>
                            <q-item-label>Photos</q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </q-btn-dropdown>
                  </div>
                  <q-input
                    outlined
                    v-model="text"
                    :dense="dense"
                    rounded
                    placeholder="Select Date"
                    class="datebtn"
                  >
                    <template v-slot:prepend>
                      <q-icon name="event" />
                    </template>
                  </q-input>
                </div>
              </div>
              <div class="tablediv">
                <q-table
                  flat
                  style="height: 400px"
                  bordered
                  class="employeetbl text-xs"
                  :rows="rows"
                  :columns="columns"
                  row-key="id"
                  table-header-class="text-white text-xxs bg-teal-5 font-weight-bold"
                  virtual-scroll
                  hide-bottom
                  v-model:pagination="pagination"
                  :rows-per-page-options="[0]"
                >
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td
                        v-for="(col, index) in columns"
                        :key="col.name"
                        class="text-xs"
                      >
                        <!-- Check if it's the last column -->
                        <template v-if="index === columns.length - 1">
                          <!-- Render buttons for the last column -->
                          <q-btn
                            flat
                            round
                            icon="more_vert"
                            aria-label="Show Menu"
                            @click="showMenu = !showMenu"
                            ref="menuAnchor"
                            class="menu-btn"
                          >
                            <!-- Dropdown menu content -->
                            <q-menu
                              v-model="showMenu"
                              class="listdropdown"
                              :anchor="menuAnchor"
                              :self="menuPosition"
                              :offset="[-60, -30]"
                            >
                              <q-list>
                                <q-item
                                  clickable
                                  @click="handleMenuItemClick('Edit')"
                                  class="menudropdown"
                                >
                                  <q-item-section>Edit</q-item-section>
                                </q-item>
                                <q-item
                                  clickable
                                  @click="handleMenuItemClick('Delete')"
                                  class="menudropdown"
                                >
                                  <q-item-section>Delete</q-item-section>
                                </q-item>
                                <!-- Add more menu items as needed -->
                              </q-list>
                            </q-menu>
                          </q-btn>
                          <!-- Add more buttons as needed -->
                        </template>
                        <!-- If not the last column, display regular content -->
                        <template v-else>
                          {{ props.row[col.field] }}
                        </template>
                      </q-td>
                    </q-tr>
                  </template>
                </q-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script src="./scripts/Employee2.js"></script>

<style lang="scss" scope>
@import "./styles/Employee.scss";
</style>
