<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <div class="formlist">
      <div class="q-pa-md example-row-column-width">
        <div class="row">
          <div class="col-8">
            <div class="topbar">
              <form action="search_filter" id="search-form">
                <q-icon name="search" id="search-icon" />
                <input
                  type="text"
                  placeholder="Search Filter . . ."
                  id="search_input"
                />
              </form>
            </div>
          </div>
          <div class="col-3">
            <div class="icons">
              <q-icon name="notifications" size="25px" class="notificon" />
              <q-icon name="circle" size="40px" class="circleicon" />
            </div>
          </div>
        </div>
      </div>

      <div class="q-pa-md example-row-column-width">
        <div class="row">
          <div class="col-3">
            <div class="q-pa-md">
              <div class="menutbl">
                <q-item-label header> Menu</q-item-label>
                <q-list>
                  <EssentialLink
                    v-for="link in essentialLinks"
                    :key="link.title"
                    v-bind="link"
                  />
                </q-list>
              </div>
            </div>
          </div>
          <div class="col-9">
            <div class="form">
              <div class="header">
                <q-icon
                  name="arrow_back"
                  size="24px"
                  class="arrowbtn"
                  @click="navigateToTable"
                />
                <label class="stafftxt">Staff Profile Details</label>
              </div>
              <div class="form-container flex justify-center">
                <form class="form-inputs" @submit.prevent="addEmployee">
                  <label for="name" id="lbl_name" class="labels">Name:</label>
                  <q-input
                    placeholder="Pedro Penduko"
                    outlined
                    v-model="name"
                    color="green-5"
                    class="q_inputs"
                  />
                  <label for="name" id="lbl_name" class="labels"
                    >Employee ID:</label
                  >
                  <q-input
                    placeholder="14523"
                    outlined
                    v-model="employee_id"
                    color="green-5"
                    class="q_inputs"
                  />
                  <label for="name" id="lbl_name" class="labels">Email:</label>
                  <q-input
                    placeholder="sample@gmail.com"
                    outlined
                    v-model="email"
                    color="green-5"
                    class="q_inputs"
                  />

                  <label for="name" id="lbl_name" class="labels"
                    >Current Task:</label
                  >
                  <q-input
                    placeholder="Outreach Programs Coordinator"
                    outlined
                    v-model="task"
                    color="green-5"
                    class="q_inputs"
                  />
                  <label for="name" id="lbl_name" class="labels"
                    >Description:</label
                  >
                  <q-input
                    outlined
                    class="multilinetxt"
                    placeholder="Lorem ipsum dolor sit amet ed quaerat facilis id culpa fugiat est similique repudiandae ."
                    type="textarea"
                    v-model="description"
                    float-label="TextArea"
                    :max-height="168"
                    :min-rows="7"
                    :style="{ height: '184px' }"
                    color="green"
                  />
                  <label for="name" id="lbl_name" class="labels">Status:</label>
                  <q-input
                    placeholder="Ongoing"
                    outlined
                    v-model="status"
                    color="green-5"
                    class="q_inputs"
                  />
                  <label for="name" id="lbl_name" class="labels"
                    >House Address:</label
                  >
                  <q-input
                    placeholder="Brgy.Cruzada, Legazpi City"
                    outlined
                    v-model="address"
                    color="green-5"
                    class="q_inputs"
                  />
                  <q-btn
                    color="secondary"
                    label="Save Changes"
                    rounded
                    type="submit"
                    :style="{ marginTop: '22px' }"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script src="./scripts/Form.js"></script>

<style lang="scss" scope>
@import "./styles/Form.scss";
</style>
